<form action="/CongNhan/ListByTrieuChung" method="post">
    <label>Số triệu chứng</label>
    <input type="number" name="soTc" />
    </br>
    <input type="submit" value="Liệt kê" name="submit" id="list" />
</form>