@model List<Ky2_2019_2020.Models.DiemCachLyModel>

<form action="/CongNhan/ListByDiemCachLy" method="post">
    <label>Tên điểm cách ly</label>

    <select name="maDiemCachLy">
        @foreach (var item in Model) {      
            <option value="@item.MaDiemCachLy">@item.TenDiemCachLy</option>    
        }
    </select>

    </br>
    <input type="submit" value="Liệt kê" name="submit" id="list" />
</form>